<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeepCloner" version="0.10.4" />
  <package id="DeepCopy" version="1.0.3" />
  <package id="FastDeepCloner" version="1.3.6" />
  <package id="Newtonsoft.Json" version="13.0.3" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" />
  <package id="Ulid" version="1.3.3" />
  <package id="YamlDotNet" version="13.7.0" />
</packages>